.container{
    width: 900px;
    height: 500px;
    background-color: blue;
    border: 1px solid black;
    overflow: hidden;
}

.box{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: red;
    animation: bounce 2s cubic-bezier(0.88, 0.01, 1, 1.77) 0s infinite forwards , translate 2s linear 0s infinite  ;
}

@keyframes bounce{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(300px);
    }
}

@keyframes translate{
    from{

    }
    to{
        transform: translateX(100px);
    }
}

